@{
    @model app.Models.Mortgage;
    ViewData["Title"] = "Your Calculation Results";

    System.Collections.Generic.List<double> amounts = new System.Collections.Generic.List<double>();
    System.Collections.Generic.List<int> months = new System.Collections.Generic.List<int>();

    MortgageCalculator yourResult = Mortgage.examples[Mortgage.examples.Count-1];

    var tuple = yourResult.sumTotalCosts();
    amounts.Add(tuple.Item1);
    months.Add(tuple.Item2);
}

<div class="text-center">
    <h1 class="display-4">Richard's Mortgate Payoff Estimation Calculator</h1>
    <h2>Your calculation:</h2>

    <h2>Custom Scenario Results:</h2>
    <p>Principal: $@(System.String.Format("0:0,0.00", yourResult.Principal))</p>
    <p>Interest Rate: @(System.String.Format("0.00", yourResult.OriginalInterestRate*100.0))%</p>
    <p>Monthly Payment: $@(System.String.Format("0:0,0.00", yourResult.Payment))</p>
    <p>Months to Payoff: @(months[0].ToString())</p>
    <p>Total Amount Paid: $@(System.Math.Round(amounts[0], 2))</p>
    <p><strong>Hypothetical: Pay an additional $@(System.String.Format("0:0,0.00", yourResult.ExtraPayment)) at month @(yourResult.ExtraPaymentMonth)</strong></p>
    <p>Months to Payoff: @(months[1].ToString())</p>
    <p>Total Amount Paid: $@(System.Math.Round(amounts[1], 2))</p>
    <p>Months Saved: @(months[0]-months[1])</p>
    <p>Net Savings: $@(System.Math.Round(amounts[0]-amounts[1], 2))</p>

</div>

